@import '../../../scss/_custom-variables.scss';
@import '../../../scss/core/helpers/mixins.scss';
@import '../../../scss/bootstrap-variables.scss';

.container{
    display: flex; 
    flex-direction: column;
    width: 100%;
    height: 100%;
} 

.row-container{
    display: flex; 
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
} 

.social-login-container{
    margin: auto;
    width: 60%;

    @include bp(xs){
        width: 100%;
    }

    @include bp(sm){
        width: 100%;
    }

    @include bp(md){
        width: 50%;
    }

    @include bp(lg){
        width: 60%;
    }
}

.social-login-header{
    text-align: center;
    padding-top: 1em;
}

/*
.btn-social.button[disabled] {
    color: #333;
    background-color: #fff;
    border-color: #dbdbdb;
    box-shadow: none;
    opacity: .6;
}
*/
.button[disabled] {
    cursor: not-allowed;
}

.login-container{
    margin: auto ;
    width: 30%;
    background-color: #fff;
    border: 1px solid #e1e6ef;

    @include bp(xs){
        width: 100%;
    }

    @include bp(sm){
        width: 100%;
    }

    @include bp(md){
        width: 50%;
    }

    @include bp(lg){
        width: 30%;
    }

}

.login-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.login-item{
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 2em;
}

.login-item__title{
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 1em;
}

.login-item__alert {
    width: 100%;
    display: block;
    justify-content: center;
    padding-bottom: 1.5em;
}

.login-img{
    background-image: url('../../../img/logo.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 200px auto;
    width: 100%;
    height: 80px;
    background-color: $seaBuckthorn;
}

.login-form{
    padding: 1.5rem 1.5rem;
}

.login-form__button{
    width:150px;
    margin:auto;
}

.button-container{
    padding: 1em;
}

.login-item__register-link{
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.page-nav-link{
    color: #20a8d8 !important;
}