<div class="container">
  <div>&nbsp;</div> 
  <div class="social-login-container">  
    <div class="social-login-header">
      <h3>Social Login</h3>
    </div>
    <div class="buttons-container">
      <div class="row-container">
        <div class="button-container">
          <button (click)="signInWithGoogle()" class="button btn-social btn-google-plus">
            <i class="fa fa-google fa-lg"></i>&nbsp;&nbsp;Connect Google
          </button>
        </div>
        <div class="button-container">
          <button (click)="signInWithGithub()" class="button btn-social btn-github" disabled>
            <i class="fa fa-github fa-lg"></i>&nbsp;&nbsp;Connect GitHub
          </button>
        </div>
        <div class="button-container">
          <button (click)="signInWithFacebook()" class="button  btn-social btn-facebook" disabled>
            <i class="fa fa-facebook fa-lg"></i>&nbsp;&nbsp;&nbsp;Connect Facebook
          </button>
        </div>
        <div class="button-container">
          <button (click)="signInWithTwitter()" class="button  btn-social btn-twitter" disabled>
            <i class="fa fa-twitter fa-lg"></i>&nbsp;&nbsp;Connect Twitter
          </button>      
        </div>
      </div>
    </div>
  </div>
  <div>
    &nbsp;
  </div>
  <div class="login-container">
    <div class="login-img"></div>
    <div class="login-form" (keypress)="keyPressLogin($event)">
      <div class="login-item__title">
        Sign In to your account
      </div>
      <div class="login-item">
        <span class="input-group-addon"><i class="icon-user"></i></span>
        <input type="text" class="form-control" placeholder="Username" [(ngModel)]="user.username">
      </div>
      <div class="login-item">
        <span class="input-group-addon"><i class="icon-lock"></i></span>
        <input type="password" class="form-control" placeholder="Password" [(ngModel)]="user.password">
      </div>
      <div *ngIf="showMessage" class="login-item__alert">
          <app-message-box [message]="message" [type]="messageType" [showMessage]="showMessage" [centerMessage]="centerErrorMessage"></app-message-box>
      </div>
      <div class="login-item">
        <button class="btn btn-primary login-form__button" (click)="login()">Login&nbsp;
          <i class="fa fa-spinner fa-spin" *ngIf="isSpinnerVisible"></i>
        </button>
      </div>
    </div>
  </div>
</div>

